body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 100px;
}

/* Playlist */
.playlist-container {
    padding: 30px;
    background: linear-gradient(to bottom, #121212, black, 40%);
    pad: 30px;
    min-height: 100vh;

}

.playlist-header {
    display: flex;
    align-items: flex-end;
    gap: 25px;
    padding: 40px 0;
}

.playlist-cover {
    width: 230px;
    height: 230px;
    border-radius: 4px;
    box-shadow: 0 8px 50px rgba(0,0,0,.6);
}
.playlist-type {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.playlist-info h1 {
    font-size: 72px;
    margin: 0;
    font-weight: 900;
}
.stats {
    font-size: 14px;
}

/* Song List */
.list-header,
.song-row {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 100px;
    padding: 10px 15px;
    align-items: center;
    font-size: 15px;
}

.list-header {
    color: #b3b3b3;
    font-size: 13px;
}

.song-row {
    border-radius: 6px;
    cursor: pointer;
    display: grid;
}

.song-row:hover,
.song-row.active {
    /* background: rgba(255,255,255,.1); */

    /* background-color: #1ed760; */
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(29, 185, 84, 0.3);
}

.song-title-meta {
    display: flex;
    gap: 12px;
    align-items: center;
}

.song-thumb {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.song-name {
    color: white;
    font-weight: 500;
}
.artist-name,
.col-album,
.col-time {
    color: #b3b3b3;
}

/* Footer */
.music-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: black;
    border-top: 1px solid rgba(255,255,255,.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 25px;
    align-items: center;
}

.song-info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.song-info img {
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

.player-controls audio {
    width: 360px;
}


.extra-controls {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 50px;
}

.material-symbols-outlined {
    margin-left: 7px;
    font-size: 1.7rem; /* Icons ka size (approx 20px) */
    color: #b3b3b3;     /* Spotify ka default grey icon color */
    cursor: pointer;
    gap: 3rem;
    margin-right: 10px;
}

/* Hover karne par white ho jayein */
.material-symbols-outlined:hover {
    color: #ffffff;
    transform: scale(1.05); /* Thoda sa bada ho jaye */
    gap: 3rem;
}


.volume-control .volume-slider {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    width: 0;
    margin-left: 0;
}

.volume-control:hover .volume-slider {
    opacity: 1;
    visibility: visible;
    width: 70px;
    margin-right: 1px;

}

.volume-control {
    display: flex;
    align-items: center;
}

